<div class="col-md-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title text-center">{{titulo}}</h3>
    </div>
    <div class="panel-body" ng-transclude>

    </div>
  </div>
</div>
