.painel-animado{
  -moz-transition:transform 0.2s;
  -webkit-transition:transform 0.2s;
  -ms-transition:transform 0.2s;
  -o-transition:transform 0.2s;
  transition:transform 0.2s;
}

.painel-animado.ng-leave-active{
  -moz-transition:scale(0.1);
  -webkit-transition:scale(0.1);
  -ms-transition:scale(0.1);
  -o-transition:scale(0.1);
  transition:scale(0.1);
}
