<!DOCTYPE html>
<html lang="pt-br" ng-app='alurapic'>
    <head>
        <base href="/">

        <script src="js/lib/angular.min.js"></script>
        <script src="js/lib/angular-route.min.js"></script>
        <script src="js/lib/angular-animate.min.js"></script>
          <script src="js/lib/angular-resource.min.js"></script>

        <script src="js/main.js"></script>
        <script src="js/controllers/fotos-controller.js"></script>
        <script src="js/controllers/foto-controller.js"></script>
        <script src="js/controllers/grupos-controller.js"></script>
        <script src="js/directives/minhas-diretivas.js"></script>
        <script src="js/services/meus-servicos.js"></script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Alurapic</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/efeitos.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    </head>
    <body ng-controller="FotosController">
        <div class="container">
            <div class="jumbotron">
              <h1 class="text-center">Alurapic</h1>
                <p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>
            </div>
            <ng-view></ng-view>
        </div> <!-- fim container -->
    </body>
</html>
