<div class="page-header text center">
  <h1>{{foto.titulo}}</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<form novalidate name="formulario" class="row" ng-submit="submeter()">
 <div class="col-md-6">
  <div class="form-group">
    <label>Titulo</label>
    <input name="titulo" class="form-control" ng-model="foto.titulo" ng-maxlength="20" required="true">
    <span ng-show="formulario.$submitted && formulario.titulo.$error.required" class="form-control alert-danger"> Titulo obrigatorio</span>
    <span ng-show="formulario.$submitted && formulario.titulo.$error.maxlength" class="form-control alert-danger"> maximo de 20 caracteres</span>
  </div>

  <div class="form-group">
    <label>Url</label>
    <input name="url" class="form-control" ng-model="foto.url" required="true">
    <span ng-show="formulario.$submitted && formulario.url.$error.required" class="form-control alert-danger"> url obrigatoria</span>
  </div>

  <div class="form-group">
    <label>Descrição</label>
    <textarea name="descricao" class="form-control" ng-model="foto.descricao"></textarea>
  </div>

  <div class="form-group">
    <label>Grupo</label>
    <select name="grupo" class="form-control" ng-model="foto.grupo" ng-controller="GruposController" ng-options="grupo._id as (grupo.nome | uppercase) for grupo in grupos" required="true">
      <option value="">Escolha um grupo</option>
    </select>
    <span ng-show="formulario.$submitted && formulario.grupo.$error.required" class="form-control alert-danger">
      Grupo Obrigatorio
    </span>
  </div>

  <button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">Salvar</button>
  <a href="/" class="btn btn-primary">Voltar</a>
  <hr>
</div>

<div class="col-md-6">
  <minha-foto url="{{foto.url}}" titulo2="{{foto.titulo}}"></minha-foto>
</div>
</form>
