
<div class = "row">
   <div class = "col-md-12">
     <form>
       <div class="input-group">
        <span class="input-group-btn">
          <a href="/fotos/new" class="btn btn-primary" type="button">
            Nova foto
          </a>
        </span>
         <input class="form-control" placeholder="filtar pelo titulo da foto" ng-model="filtro" ng-model-options="{ debounce: 500}">
       </div>
     </form>
   </div>
</div>

<meu-painel titulo="{{foto.titulo}}" ng-repeat="foto in fotos | filter: {titulo: filtro}">
  <minha-foto class="" url="{{foto.url}}" titulo2="{{foto.titulo}}"></minha-foto>
  <a class="btn btn-primary btn-block" href="/fotos/edit/{{foto._id}}">Editar</a>
  <button class="btn btn-danger btn-block" ng-click="remover(foto)">Remover</button>
</meu-painel>
